:root {
  background-color: darkslategrey;
}

.doodlebugSide, .HeaderWrapper, .BottomDollar {
  font-family:itim ;
  text-shadow:  -1px 1px 0 green, 1px -1px 0 green, -1px -1px 0 green, 1px 1px 0 green;
}
@media screen and (orientation: landscape) {
.doodlebugSide {
  font-size:1em;
  text-align:center;
  letter-spacing: 3px;
 
}
}
@media screen and (orientation: landscape) and (max-width: 600px) {

.doodlebugBL {
  display: none;
 }
 .doodlebugSide{
  bottom: 3px;
 }
 .doodlebugBR {
  padding-top: 4px;
  padding-bottom: 4px;
 }


}

.googleFont1 {
  font-family: 'Itim';
}